<div class="box">
    <header>SwitchMap</header>
    
    <input placeholder="enter USA state name" #userInput>
    <li *ngFor="let item of output">
      {{item}}
    </li>
  </div>

 <div class="explanation">
    SwitchMap provides a very unique functionality that isn't really clearly outlined by the rxjs documentation. 

  There's an "outer" Observable and then an "inner" Observable. 

  <br>
  The outer Observable kicks of the sequence. Then the inner Observable is called. 
  If the outer is called again, it restarts the inner Observable, effectively interrupting it. 

  <p>
    The big question for me was : "what is the use case for a switch map ? "
    <br>
    The main use case is when you NEED to interrupt an Observable from completing it's task. 
    
    A classic example for this is the auto-complete methods when http calls are being made to match entries <i>while</i> a user types. 
     
    <br>
    <br>
     If a user starts typing "app", then there is a stream of data coming in with all of the matches. The data coming in may include
    'app', 'apple', 'applicaiton', 'appliance', etc. 
    <br>
    <br>
    If the user then erases "app" and then types something else, you need to "switch" out of the inner Observable calling that 
    first set of data and then restart the inner observble to collect another set of words based on the new search term. 

    <br>
    <br>
    See src/switchmap/switchmap.component.ts for details. 




  </p>

</div>
<img src="/assets/switchMap.gif" alt="" style="padding: 10px">

 
   
  
 
 
