body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: BlackMelody;
    src: url(assets/BlackMelody.otf);
  }

div.box {
    display:block;
    border: 2px solid purple;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    float: left;
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    header{
        font-size: 2.5em;
        font-family: BlackMelody;
    }
    input{
        font-size: 1.2em; 
    }
    overflow: scroll;
}

img.label{
    width: 450px;
    display:block;
    clear:both;
}

title{
    font-family: BlackMelody;
    color: white;
}

div.explanation{
    padding: 20px;
    font-size: 1.2em;
}

img.screenshot{
    width: 70%;
}